<?xml version="1.0" encoding="utf-8" ?>
<repositories xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.39541240.com/repository">
  <repository
    interface="Easy.Domain.Model.ISupplierRepository,Easy.Domain.Model"
    implementation="Easy.Infrastructure.Repository.SupperRepository,Easy.Infrastructure" />
</repositories>